<header>
  <nav id="navbar" class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}" role="navigation">
    <div class="container">
      <a class="navbar-brand title font-weight-lighter" href="{{ site.baseurl }}/">
        {% if site.title == 'blank' %}
          <span class="font-weight-bold">{{ site.first_name }}</span>
          {% if site.middle_name %}{{ site.middle_name }}{% endif %}
          {{ site.last_name }}
        {% else %}
          {{ site.title }}
        {% endif %}
      </a>

      {% if site.enable_darkmode %}
        <ul class="navbar-nav ml-auto flex-nowrap">
          <li class="toggle-container">
            <button id="light-toggle" title="Change theme">
              <i class="fa-half-sun-moon" id="light-toggle-system"></i>
              <i class="fa-solid fa-moon" id="light-toggle-dark"></i>
              <i class="fa-solid fa-sun" id="light-toggle-light"></i>
            </button>
          </li>
        </ul>
      {% endif %}
    </div>
  </nav>
</header>
